<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="menu">
        <div class="logo">
            <h2>SOPHISTIQUÉ BEAUTY</h2>
        </div>
        <div class="items">
            <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
            <li><i class="fa fa-pie-chart"></i><a href="/admindashboard">Dashboard</a></li> 
            <li><i class="fa fa-line-chart"></i><a href="/adminstatistics">Statistics</a></li>
            <li><i class="fa fa-user"></i><a href="/users">Add admin</a></li>
            <li><i class="fa fa-user"></i><a href="/remusers">Remove User</a></li>
            
             <li><i class="fa fa-shopping-basket"></i><a href="/admindashboard/adminproducts">Products</a></li>
           
           
        </div>
    </section>
    
</body>
</html>