<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bothHeaders">
        <div class="header">
            <a href="/sophistiqueBeauty">SOPHISTIQUÉ BEAUTY</a>
        </div>
        <div class="header2">
            <a href="/index">SOPHISTIQUÉ SKIN</a>

        </div>
    </div>

        <div>
            <nav>
                <div class="wrapper">
                    <div class="logo"><a href="#">SOPHISTIQUÉ BEAUTY</a></div>
                    <ul class="nav-links">
                        <li>
                            <a href="#">NEW</a>
                            <div class="mega-box">
                                <div class="content">
                                    <div class="row">
                                        <ul class="mega-links">
                                            <li><a href=#>SHOP NEW</a></li>
                                            <li><a href=#>NEWEST FENTY RELEASES</a></li>
                                            <li><a href=#>NEWEST RARE BEAUTY REALESES</a></li>
                                            <li><a href=#>NEWEST SOPHISTIQUÉ COMBOS </a></li>
                                            <li><a href=#>NEWEST FOUNDATION COLLECTIONS </a></li>
                                            <li><a href=#>NEWEST BLUSH COLLECTIONS</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </li>
                        <li>
                            <a href="#">FACE</a>
                            <div class="mega-box">
                                <div class="content">
                                    <div class="row">

                                        <ul class="mega-links">
                                            <li><a href="/Beautyproducts">SHOP ALL FACE</a></li>
                                            <li><a href=#>FOUNDATIOM</a></li>
                                            <li><a href=#>PRIME+SET</a></li>
                                            <li><a href=#>CONCEALER+CORRECTOR</a></li>
                                            <li><a href=#>POWDER</a></li>
                                            <li><a href=#>CONTOUR</a></li>
                                            <li><a href=#>BLOTTING</a></li>
                                            <li><a href=#>BLUSH</a></li>
                                            <li><a href=#>BRONZER</a></li>
                                            <li><a href=#>HIGHLIGHTER</a></li>
                                            <li><a href=#>BRUSHED+TOOLS</a></li>
                                            <li><a href=#> MAKEUP SKINPREP </a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">LIPS</a>
                            <div class="mega-box">
                                <div class="content">
                                    <div class="row">
                                        <ul class="mega-links">
                                            <li><a href="/Beautyproducts/Liptreatment">SHOP ALL LIP</a></li>
                                            <li><a href=#>LIP GlOSS</a></li>
                                            <li><a href=/Beautyproducts/Lipsticks>LIPSTICK</a></li>
                                            <li><a href="/Beautyproducts/Liptreatment">LIP BALMS+TREATMENT</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">EYE</a>
                            <div class="mega-box">
                                <div class="content">
                                    <div class="row">

                                        <ul class="mega-links">
                                            <li><a href=#>SHOP ALL LIP</a></li>
                                            <li><a href=#>EYE SHADOWS</a></li>
                                            <li><a href=#>EYELINER </a></li>
                                            <li><a href=#>MASCARAS</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">SALE</a>
                            <div class="mega-box">
                                <div class="content">
                                    <div class="row">

                                        <ul class="mega-links">
                                            <li><a href=#>SALES</a></li>
                                            <li><a href=#>OFFERS</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">SERVICES</a>
                            <div class="mega-box">
                                <div class="content">
                                    <div class="row">
                                        <ul class="mega-links">
                                            <li><a href=#>VIRTUAL SERVICES</a></li>
                                            <li><a href=#>VIRTUAL CONSULTATION</a></li>
                                            <li><a href=#>SHADE FINDER</a></li>
                                            <li><a href=#>REPLEN + SAVE</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">EXPLORE</a>
                            <div class="mega-box">
                                <div class="content">
                                    <div class="row">
                                        <ul class="mega-links">
                                            <li><a href=#>SOPHISTIQUÉ PACKAGES</a></li>
                                            <li><a href=#>THE NEWEST MAKEUP RELEASES</a></li>
                                            <li><a href=#>REVIEWS</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>


                        <div class="icons">
                            <a href="#"><i class="fa fa-search"></i></a>
                            <a href="/Account"><i class="fa fa-user-circle"></i></a>
                            <a href="#"><i class="fa fa-heart"></i></a>
                            <a href="/addtocart"><i class="fa fa-shopping-bag"></i></a>
                        </div>
                    </ul>

                </div>
            </nav>
        </div>
    
</body>
</html>