<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <Link rel="stylesheet" href="../css/footer.css">
    <script src="https://kit.fontawesome.com/f17a435b32.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bona+Nova&family=Nanum+Gothic&family=Roboto&family=Simonetta:ital@1&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="footer">
        <div class="headerInfooter">
            <h3 class="h3_bold">DOWN FOR MORE? WE GOT YOU.
            </h3>
            <p class="p1">All the latest product drops, limited offers, in-store event info–straight to your inbox.
            </p>
        </div>
        <br>
        <br>
        <div class="Form">
            <P>EMAIL ADDRESS</P>
        </div>

        <div class="disclaimer">
            <p>By subscribing to <strong> SOPHISTIQUE Beauty + SOPHISTIQUE Skin, </strong>you consent to receive a
                varying number of marketing messages via email. Consent is not a <br>condition of any purchase.
                View&nbsp;
                <a href="" Title="Terms of Use">
                    <span style="text-decoration: underline white; color:white;">Terms of Use</span>
                </a>
                . California
                <br>
                residents: Please also see our"
                <a href="" title="financial incentive terms">
                    <span style="text-decoration: underline white; color:white;">Financial Incentive Terms.</span>
                </a>
                <br>
                Message and data rates may apply. Reply HELP for help or STOP to opt-out.
            </p>
            <BR>
            <br>

            <div class="socialwrap">
                <div class="beauty">
                    <div class="logoo">
                        <p class="s">SOPHISTIQUE &nbsp; &nbsp; &nbsp;
                            <i class="fa-brands fa-facebook-f"></i> &nbsp;
                            <i class="fa-brands fa-instagram"></i> &nbsp;
                            <i class="fa-brands fa-youtube"></i> &nbsp;
                            <i class="fa-brands fa-twitter"></i> &nbsp;
                            <i class="fa-brands fa-tiktok"></i>
                        </p>

                    </div>
                    <div class="follow">
                        <p>BEAUTY</p>
                    </div>
                </div>

            </div>
            <div class="skin">
                <div class="logos">
                    <p class="y">SOPHISTIQUE &nbsp; &nbsp; &nbsp;
                        <i class="fa-brands fa-facebook-f"></i> &nbsp;
                        <i class="fa-brands fa-instagram"></i> &nbsp;
                        <i class="fa-brands fa-youtube"></i> &nbsp;
                        <i class="fa-brands fa-twitter"></i> &nbsp;
                        <i class="fa-brands fa-tiktok"></i>
                    </p>
                </div>
                <div class="follows">
                    <p>SKIN
                    </p>
                </div>

            </div>
            <br>
            <div class="contactus">
                <h3>CONTACT US</h3>
                <p>customerservice@sophistiquebeauty.com</p>
                <p>1-855-440-7474</p>
                <p>Operating hours are from 7am – 2am EST,<br>
                    7 days a week, excluding holidays
                </p>
                <br>
                <br>
            </div>


            <div class="about">
                <h3>ABOUT US</h3>
                <p>Rihanna was inspired to create Fenty Beauty & Fenty Skin after years of,<br>
                    experimenting with the best-of-the-best in beauty—and still seeing a <br>
                    void in the industry for products that performed across all skin types<br>
                    and tones. Starting with
                    <a href="" Title="f">
                        <span style="text-decoration: underline white; color:white;"> Fenty Beauty foundation, face
                            primer </span>
                    </a>
                    and <br>
                    <a href="" Title="f">
                        <span style="text-decoration: underline white; color:white;">Gloss Bomb</span>
                    </a>
                    she launched a makeup line “so that people everywhere would be <br>
                    included,” focusing on a wide range of traditionally hard-to-match skin tones,<br>
                    creating formulas that work for all skin types, and pinpointing
                    universal shades.<br> From

                    <a href="" Title="f">
                        <span style="text-decoration: underline white; color:white;"> Pro Filt’r Soft Matte Foundation,
                            Hydrating Foundation & Powder Foundation </span>
                    </a>
                    <br>
                    that changed the game with 50 inclusive shades, to the fan-fave concealer and<br>
                    setting powder, to the wide shade range of cream blush, Fenty Beauty products<br>
                    are designed to feel lightweight and love to be layered. Most importantly, Rihanna <br>
                    creates makeup to inspire: “Makeup is there for you to have fun with,” she says.<br>
                    “It should never feel like pressure. It should never feel like a uniform. <br>
                    Feel free to take chances, and take risks, and dare to do something new or <br>
                    different.” Not sure where to start? Take our
                    <span style="text-decoration: underline white; color:white;"> foundation shade finder
                        quiz</span><br>
                    and get matched with unique shade
                    recommendations based on your skin <br>tone. Get your essentials
                    all in one click
                    by shopping our <br> sets + travel kits. After changing the beauty game,
                    she decided<br>
                    to take over the skincare world. Starting with <br>
                    <span style="text-decoration: underline white; color:white;"> cleanser, toner and moisturizer</span>
                    and
                    <span style="text-decoration: underline white; color:white;"> moisturizer</span>
                    she launched <br> SOPHISTIQUE Skin
                    to “create amazing products that really work,<br>
                    that are easy to use, and everyone can get in on.”
                </p>
            </div>
            <div class="lists">
                <div class="help">

                    <li>
                        <p>HELP</p>
                        <p>Replen +</p>
                        <p>Save</p>
                        <p>Sign In to</p>
                        <p>Track on</p>
                        <p>Order</p>
                        <p>Info</p>
                        <p>Returns</p>
                        <p>Contact Us</p>
                        <p>Help & FAQS</p>
                        <p>My Account</p>
                        <p>Gift Card</p>
                        <p>Balance</p>

                    </li>
                </div>
                <div class="bea">
                    <li>
                        <p>BEAUTY</p>
                        <p>Shop</p>
                        <p>Save</p>
                        <p>Products</p>
                        <p>Shop</p>
                        <p>Subscription</p>
                        <p>Shop Sale</p>
                        <p>Shade</p>
                        <p>Finder</p>
                        <p>Face</p>
                        <p>Foundation</p>
                        <p>Careers</p>
                        <p>Beauty</p>

                    </li>
                </div>

                <div class="ski">
                    <li>
                        <p> SKIN</p>
                        <p>Shop</p>
                        <p>Products</p>
                        <p>Subscription</p>
                        <p>Ingredients</p>
                        <p>Earth-</p>
                        <p>Skin</p>
                        <p>Videos</p>
                        <p>Contact Us</p>


                    </li>
                </div>
            </div>

        </div>

    </div>


</body>