<head>
   <link rel="stylesheet" href="../css/Nav.css">
</head><body>
    <div class="bothHeaders">
    <div class="header">
        <a href="sophistiqueBeauty">SOPHISTIQUÉ BEAUTY</a>
    </div>
    <div class="header2">
        <a href="index">SOPHISTIQUÉ SKIN</a>

    </div>
</div>
<br>
<div class="allNav">

    <nav>
        <div class="wrapper">
            <div class="logo"><a href="#">SOPHISTIQUÉ SKIN</a></div>
            <ul class="nav-links">
                <li>
                    <a href="skincarePage1">NEW</a>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <ul class="new-links">
                                    <li><a href="skincarePage1">SHOP NEW</a></li>
                                    <li><a href="productdetail">New! Melt Awf Jelly Oil Makeup Cleanser</a></li>
                                    <li><a href="Lipbalm+traetment">New ! Plush Pudding Intensive Recovery Lip Mask</a></li>
                                    <li><a href="body">The Fenty Skin Body Vault</a></li>
                                    <li> <a href="skincarePage1">Mini's Travel Size</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">EAU DE PARFUM</a>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <ul class="new-links">
                                    <li><a href="#">Shop EAU DE PARFUM </a></li>
                                    <li><a href="#">Come sell me</a></li>
                                    <li><a href="#">EXCLUSIVE!</a></li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">SKINCARE</a>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <ul class="new-links">
                                    <li><a href="skincarePage1">ALL SKIN CARE</a></li>
                                    <li><a href="body">Shop new </a></li>
                                    <li><a href="body">Shop Best Seller</a></li>
                                    <li><a href="skincarePage1">Skin Starters</a></li>
                                    <li> <a href="#">Sets + Bundels</a></li>
                                    <li> <a href="#">Mini's+ Travel size</a></li>
                                    <li> <a href="#">Exclusive!</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <ul class="new-links">
                                    <li><a href="skincarePage1">FACE</a></li>
                                    <li><a href="skincarePage1">Face Moisturizer</a></li>
                                    <li><a href="skincarePage1">Cleanser</a></li>
                                    <li><a href="skincarePage1">Toner</a></li>
                                    <li> <a href="skincarePage1">Mask + Treatment</a></li>
                                    <li> <a href="skincarePage1">Lip Care</a></li>
                                    <li> <a href="skincarePage1">Eye Cream</a></li>
                                    <li> <a href="skincarePage1">Sun Cream</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <ul class="new-links">
                                    <li><a href="Skinproducts">Body</a></li>
                                    <li><a href="bodymoisturizer">Body Moisturizer</a></li>
                                    <li><a href="body">Body Cleanser + scrub</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">INGREDIENTS</a>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <ul class="new-links">
                                    <li><a href="#">CHARCOAL INGREDIENTS RUNDOWN</a></li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">REPLEN + SAVE</a>

                </li>
                <li>
                    <a href="#">EXPLORE</a>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <ul class="new-links">
                                    <li><a href="../html/body.html">SHOP NEW</a></li>
                                    <li><a href="../html/skincarePage1.html">New! Melt Awf Jelly Oil Makeup Cleanser</a></li>
                                    <li><a href="../html/skincarePage1.html">New ! Plush Pudding Intensive Recovery Lip Mask</a></li>
                                    <li><a href="../html/skincarePage1.html">The Fenty Skin Body Vault</a></li>
                                    <li> <a href="../html/skincarePage1.html">Mini's Travel Size</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">SALE</a>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <ul class="new-links">
                                    <li><a href="#">Sale</a></li>
                                    <li><a href="#">Offers</a></li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </li>
                <li> <a href="Account"><i class="fa fa-user-circle"></i></a></li>
                <li> <a href="#"><i class="fa fa-search"></a></i></li>
                <li> <a href="#"><i class="fa fa-heart"></i></a></li>
                <li> <button id="add-to-bag-button" onclick="appear()"> <i class="fa fa-shopping-bag"></i> </button>
                </li>

            </ul>
        </div>
    </nav>
</div>
<br>
<!--nav bar ender-->
</body>