.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .right {
    right: 0;
    background-color:white;
  }
  .centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .header1{
    width: 620px;
    height:45px;
    padding: 10px;
    background-color:whitesmoke;
    margin-bottom:-25px;
    margin-top: 40px;
  }
  .innerdetails{
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    font-weight: 300;
    
    
  }
  .innerdetails2{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
  }
  .innerdetails3{
    font-size:15px;
    font-family: 'Poppins', sans-serif;
  }
  .header2{
    max-width: 632px;
    height:45px;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color:white;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
     -ms-flex: 4%;
    flex: 4%;
    padding:0 5px 4px 4px;
  }
  
  .gift{
    width: 630px;
    height:100px;
    padding: 10px;
    background-color:rgb(174, 168, 187 );
    margin: 0;
    position: absolute;
    top: 150px;
    right:0px;
    top: 150px;
    right:0px;
  }
  .p2{
    text-align:center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    top: 230px;
    }
    .btn3{
    background-color:whitesmoke;
    color:black;
    width: 150px;
    height:20px;
    top: 250px;
    }
    .bag{
        width: 610px;
        height:200px;
        padding: 10px;
        background-color:white;
        margin: 0;
        position: absolute;
        top: 280px;
        right:0px;
      }
      .btn1{
      background-color:black;
      color:white;
      width: 170px;
      height:40px;
    
      }
      .btn2{
      background-color:black;
      color:white;
      align-items: center;
      width: 170px;
      height:40px;
      }
      .p1{
      text-align:center;
      font-size: 25px;
      font-family: 'Roboto', sans-serif;
      }
    .recommended{
        width: 610px;
        height:530px;
        padding: 10px;
        background-color:white;
        margin: 0;
        position: absolute;
        top: 470px;
        right:0px;
        box-sizing: border-box;
    }
    .p3{
    text-align:left;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    }
    .column {
        float: left;
        width: 33.33%;
        padding:1px;
        box-sizing: border-box;
      }
      .row::after {
        content: "";
        clear: both;
        display: table;
        box-sizing: border-box;
      }
      .newtext{
        top:440px;
        font-size: 10px;
      }
      .textbtn{
      top: 400px;
      width: 170px;
      }
      .onlinetext{
        top:400px;
        font-size: 10px;
      }
      .gamedaytext{
        top:400px;
        font-size: 10px;
      }
      .text2btn{
        top: 400px;
        width: 170px;
        }
        .text3btn{
            top: 400px;
            width: 170px;
            }
        .title1{
            font-family: 'Libre Franklin', sans-serif;
            font-size: 15px;
        }
        .title2{
            font-family: 'Libre Franklin', sans-serif;
            font-size: 15px;
        }
        .title3{
            font-family: 'Libre Franklin', sans-serif;
            font-size: 15px;
        }
      
          .subtotal{
            width: 610px;
            height:130px;
            padding: 10px;
            background-color:whitesmoke;
            margin: 0;
            position: absolute;
            top: 150px;
            right:0px;
            top: 960px;
            right:0px;
          }
          .subtext{
            font-size: 15px;
            top: 970px;
          }
          .subtex2{
            font-size: 15px;
            top: 970px;
            right: 30px;
          }
          .subtext3{
            font-size: 15px;
            top: 970px;
          }
          .number{
            color: black;
          }