<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/admindashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>admindashboard</title>
</head>

<body>
    <%-include('./partials/admindesign.ejs') %>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div><i id="menu-btn" class="fa fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="profile">
                <i class="fa fa-bell"></i>
                <a href="adminlogin"> <i class="fa fa-user-circle"></i></a>
            </div>
        </div>
        <h2 class="i-name">
            Admin Dashboard
        </h2>
        <div class="values">
            <div class="val-box">
                <i class="fa fa-users"></i>
                <div>
                    <h3>8,276</h3>
                    <span>New Users</span>
                </div>
            </div>

            <div class="val-box">
                <i class="fa fa-shopping-cart"></i>
                <div>
                    <h3>200,725</h3>
                    <span>Total Orders</span>
                </div>
            </div>

            <div class="val-box">
                <i class="fa fa-bar-chart"></i>
                <div>
                    <h3>8,276</h3>
                    <span>Products sell</span>
                </div>
            </div>

            <div class="val-box">
                <i class="fa fa-money"></i>
                <div>
                    <h3>8,276</h3>
                    <span>This Month</span>
                </div>
            </div>
        </div>

        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Title</td>
                        <td>Status</td>
                        <td>Role</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Georgia Miller</h5>
                                <p>georgia@example.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web Dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="Role">
                            <p>Owner</p>
                        </td>
                        <td class="edit"><a href=#>Edit</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>John Smith</h5>
                                <p>John@example.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Site Reliability</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="Role">
                            <p>employee</p>
                        </td>
                        <td class="edit"><a href=#>Edit</a></td>
                    </tr>


                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Nada hafez</h5>
                                <p>Nada@example.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Marketing Producer</h5>
                            <p>Digital media marketing</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="Role">
                            <p>employee</p>
                        </td>
                        <td class="edit"><a href=#>Edit</a></td>
                    </tr>


                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Fatima Al-najjarr</h5>
                                <p>fatima@example.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web Devr</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="Role">
                            <p>employee</p>
                        </td>
                        <td class="edit"><a href=#>Edit</a></td>
                    </tr>


                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Nour hesham</h5>
                                <p>Nour@example.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web Dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="Role">
                            <p>employee</p>
                        </td>
                        <td class="edit"><a href=#>Edit</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Samira Osama</h5>
                                <p>samira@example.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web Dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="Role">
                            <p>employee</p>
                        </td>
                        <td class="edit"><a href=#>Edit</a></td>
                    </tr>


                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Reem Omar </h5>
                                <p>Reem@example.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web Dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="Role">
                            <p>employee</p>
                        </td>
                        <td class="edit"><a href=#>Edit</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Farah mohamed</h5>
                                <p>Farah@example.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web Dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="Role">
                            <p>employee</p>
                        </td>
                        <td class="edit"><a href=#>Edit</a></td>
                    </tr>


                </tbody>

            </table>
        </div>

    </section>


</body>

</html>