<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skincare</title>
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../css/Nav.css">
    <link rel="stylesheet" href="../css/Addtocart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&family=Space+Grotesk:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./partials/Nav.ejs') %>
     <%- include('./partials/addtocart.ejs') %>
    <div class="h2">
        <h2 class="title">SOPHISTIQUÉ BODY</h2>
    </div>
    </div>


    <ul>
        <li class="item-a">
            <div class="box">
                <a href="../html/productdetail.html">
                <div class img-slide>
                    <img src="../imgs/b1.webp" width="300px" class="hide">
                </div>
                <div class="overlay"> <img src="../imgs/b2.webp " width="300px"   ></div>

            </div>
            <div class="detail">
                <div class="type">
                    <span> NEW</span>
                    <a href="#">FENTY SKIN BODY START'RS BUNDLE
                    </a>
                </div>
            </div>
            <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star unchecked"></span>
            </div>
            </a>
            <div class="shop">
                <span class=""><a href="#">ADD TO BAG</a></span>
                <a href="#" class="price">$‌44.00</a>
            </div>
        </li>
        <li class="item-a">
            <div class="box">
                <a href="../html/productdetail.html">
                <div class img-slide>
                    <img src="../imgs/b3.webp" width="300px" class="hide">
                </div>
                <div class="overlay"> <img src="../imgs/b4.webp"  width="300px"></div>


            </div>
            <div class="detail">
                <div class="type">
                    <span>FRAGRANCE-FREE+ONLINE EXCLUSIVE</span>
                    <a href="#">HYDRA’RESET INTENSIVE RECOVERY GLYCERIN HAND MASK</a>
                </div>
            </div>
            <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star unchecked"></span>
                <span class="fa fa-star unchecked"></span>
            </div>
        </a>
            <div class="shop">
                <span class=""><a href="#">ADD TO BAG</a></span>
                <a href="#" class="price">$36.00</a>
            </div>
        </li>
        <li  class="item-a">
            <div class="box">
                <a href="../html/productdetail.html">
                <div class img-slide>
                    <img src="../imgs/b6.webp" width="350px" class="hide">
                </div>
                <div class="overlay"><img src="../imgs/haileybeieber.jpg"    width="500px"></div>

            </div>
            <div class="detail">
                <div class="type">
                    <span> BESTSELLER</span>
                    <a href="#">PEPTIDE GLAZING FLUID
                        MORE DETAILSMORE DETAILSMORE DETAILSMORE 
                        </a>
                </div>
            </div>
            <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star unchecked"></span>
                <span class="fa fa-star unchecked"></span>
            </div>
            </a>
            <div class="shop">
                <span class="add"><a href="#">ADD TO BAG</a></span>
                <a href="#" class="price">$‌56.00</a>
            </div>
        </li>
        <li class="item-a">
            <div class="box">
                <a href="../html/productdetail.html">
                <div class img-slide>
                    <img src="../imgs/B14.webp" width="300px" class="hide">
                </div>
                <div class="overlay"><img src="../imgs/B15.webp"   width="400px"></div>

            </div>
            <div class="detail">
                <div class="type">
                    <span>FRAGRANCE-FREE+ONLINE EXCLUSIVE</span>
                    <a href="#">FENTY EAU DE PARFUM + SCARF WRAP SET

                    </a>
                </div>
            </div>
            <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star unchecked"></span>
                <span class="fa fa-star unchecked"></span>
            </div>
        </a>
            <div class="shop">
                <span class=""><a href="#">ADD TO BAG</a></span>
                <a href="#" class="price">$‌44.00</a>
            </div>
        </li>
        <li class="item-a">
            <div class="box">
                <a href="../html/productdetail.html">
                <div class img-slide>
                    <img src="../imgs/b12.webp" width="600px" class="hide">
                </div>
                <div class="overlay"><img src="../imgs/b13.webp" width="600px"></div>

            </div>
            <div class="detail">
                <div class="type">
                    <span> BESTSELLER</span>
                    <a href="#">BARRIER RESTORE CREAM<BR>
                        THE RICH RECOVERY LAYER<BR>
                            FROM RHODE BEAUTY
                    </a>
                </div>
            </div>
            <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star unchecked"></span>
            </div>
        </a>
            <div class="shop">
                <span class=""><a href="#">ADD TO BAG</a></span>
                <a href="#" class="price">$50.00</a>
            </div>
        </li>

    </ul>
    <script>
        function appear() {
            let sq = document.getElementsByClassName("split");
            if (sq[0].style.opacity == 0) {
                sq[0].style.display="block";
                //sq[0].style.opacity = 1;
                //sq[0].style.visibility = "visible";
            }
            
        }
        function ex(){
            let s = document.getElementsByClassName("split");
            s[0].style.display="none";
           
            
        }
    </script>
</body>

</html>