<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lip balm</title>
    <Link rel ="stylesheet" href="../css/projectf.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova&family=Nanum+Gothic&family=Roboto&family=Simonetta:ital@1&display=swap" rel="stylesheet">

</head>

<body>
    <%- include('./partials/Nav.ejs') %>
    <%- include('./partials/addtocart.ejs') %>
    <header>
        <img src="../imgs/FS323498_Plush_Puddin_112922_LAUNCH_CATEGORY_BANNER_DESKTOP.webp"style="width:100%" >
    </header>
    <br>
    <br>
    <h1>LIP BALM + TREATMENT </h1>

    <h2>6 items</h2>
    <%productsList.forEach(product=>{ %>
    <div class="card">
        <div class="container">
            <a href="../imgs/l.html"> <img src="../imgs/uploads/<%= product.image1%>" alt="lip balm" style="width:100%"></a>
            <div class="overlay">
                <img src="../imgs/uploads/<%= product.image2%>" class="image" title="shade">
                <i class='far fa-heart' style='font-size:24px'></i>

                </a>

            </div>

        </div>
        <div>
            <h1><% product.name %></h1>

            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>


        </div>
    
    </div>
    <% });%>

    
</body>

</html>