<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/RegisterationForm.css">
    <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <%- include('./partials/Nav.ejs') %>
    <%- include('./partials/addtocart.ejs') %>
    <script src="../js/Validation.js"></script>
    <div class="createAndBenefits">
        <div class="regForm">
            <form action='/RegisterationForm-action' method='post' onsubmit=return validate(this)>
                <h2>Create Account</h2>
                <p>Save your shipping information for faster checkout.
                     Opt-in for our email list to receive early access to new products & exclusive offers.</p> 
                 <div>
                    <input type="text" name="Firstname" placeholder="First Name">
                    <input type="text" name="Lastname" placeholder="Last Name">
                 </div> 
                 <div class="err"><span id="FnameERR"></span> <span id="LnameERR"></span></div>
                 <input type="email" name="email" placeholder="Email Address"> 
                 <span id="eErr" class="err"></span>
                <!-- <input type="email" name="emailConfirm" placeholder="Confirm Email Address"> -->
                 <span id="ecErr" class="err"></span>
                 <p>
                     By subscribing to Sophistiqué beauty and skin you consent to receive 
                    recurring automated promotional and personalized marketing 
                    messages (e.g. cart reminders) via email and text messages. 
                    Consent is not a condition of any purchase. View Terms of Use & 
                    Privacy Policy.
                 </p>
                 <input type="password" name="password" placeholder="Password">
                 <span id="pErr" class="err"></span>
                <!-- <input type="password" name="passwordConfirm" placeholder="Confirm Password">-->
                 
                  <input type="hidden" name="type" value="client">
                  <input type="submit" name="submit" value="Create Account">
            </form>
        </div>
        <div class="benefits">
            <h2>Account Benefits</h2>
            <p>
               <h4>GET YOUR FAVES FASTER</h4>
                Save your order information to
                make checkout a breeze.
            </p>
            <p>
               <h4>EXCLUSIVE OFFERS + INFO</h4> 
                Sign up to stay posted on hyper-
                limited offers, online-only 
                product drops, in-store events.
            </p>
            <p>
               <h4>ORDER DETAILS</h4>
                Receive important updates about 
                your order, and track it every 
                step of the way.
            </p>
        </div>
    </div>
</body>
</html>