<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/beautynav.css">
    <link rel="stylesheet" href="../css/sophistique beautymain .css">
    <link rel="stylesheet" href="../css/RegisterationForm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skincare</title>
</head>

<body>
    
        <%-include('./partials/beautynav.ejs') %>
        <%- include('./partials/addtocart.ejs') %>
    <script src="../javascript/sophistique beauty main .js"></script>

        <section>
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <div class="parent">
                        <div>
                            
                            <img src="../imgs/rhode collage.png" width="1000">
                        </div>
                        <div>
                            <img src="../imgs/rhodelips.jpg" width="515" height="500">
                        </div>
 
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>
                    </div>
                </div>
                <div class="mySlides fade">
                    <div class="parent">
                        <div>
                            <img src="../imgs/selena and nude shades.png" width="1000">
                        </div>
                        <div>
                            <img src="../imgs/rare-beauty products2.jpg" width="515" height="500">
                        </div>
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                </div>
                <div class="mySlides fade">
                    <div class="parent">

                       <div>
                            <img src="../imgs/fentyperfume.jpg" width="1000px">
                        </div>
                        <div>
                            <img src="../imgs/perfume angle2.jpg" width="515px" height="500px">
                        </div>

                    </div>
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                </div>
            </div>
    </div>
    </section>
    <br>
    <!-- product display section -->
    <section>
        <div class="product">
            <!-- <h2 class="product-category">BEST SELLING</h2> -->
            <button class="pre-btn">
                <img src="../imgs/arrow.png">
            </button>
            <button class="nxt-btn">
                <img src="../imgs/arrow.png">
            </button>
            <div class="product-container">
                <div class="container">

                    <div class="box">
                        <div class img-slide>
                            <img src="../imgs/rare beauty liquid blush.jpg" class="hide" width="350"><img
                                src="../imgs/rare beauty blush shade.jpg" width="350">
                        </div>
                    </div>
                    <div class="detail">
                        <div class="type">
                            <span> NEW</span>
                            <a href="#">Rare beauty new liquid blush in shade happy</a>
                        </div>
                    </div>
                    <div class="shop">
                        <span class=""><a href="#">ADD TO BAG</a></span>
                        <a href="#" class="price">$‌47.00</a>
                    </div>

                </div>
                <div class="container">
                    <div class="box">
                        <div class img-slide>
                            <img src="../imgs/rhodelipbalm product.jpg" class="hide" width="350"><img src="../imgs/rhodelips.jpg"
                                width="350">
                        </div>

                    </div>
                    <div class="detail">
                        <div class="type">
                            <span>Exclusive makeup prep</span>
                            <a href="#">RHODE NEW PEPTIDE LIP TREATMENT</a>
                        </div>
                    </div>
                    <div class="shop">
                        <span class=""><a href="#">ADD TO BAG</a></span>
                        <a href="#" class="price">$36.00</a>
                    </div>
                </div>
                <div class="container">
                    <div class="box">
                        <div class img-slide>
                            <img src="../imgs/pefume.jpg" class="hide" width="350"><img src="../imgs/perfume angle2.jpg" width="350">
                        </div>

                    </div>
                    <div class="detail">
                        <div class="type">
                            <span> BESTSELLER</span>
                            <a href="#">FENTY EAU DE PARFUM </a>
                            <BR>
                        </div>
                    </div>
                    <div class="shop">
                        <span class="add"><a href="#">ADD TO BAG</a></span>
                        <a href="#" class="price">$‌156.00</a>
                    </div>
                </div>
                <div class="container">
                    <div class="box">
                        <div class img-slide>
                            <img src="../imgs/rare beauty brushes.jpg" class="hide" width="350"><img src="../imgs/rare beauty brush.jpg"
                                width="350">
                        </div>

                    </div>
                    <div class="detail">
                        <div class="type">
                            <span>SALE</span>
                            <a href="#">RARE BEAUTY FLAWLESS FOUNDATION BRUSH+BEAUTY BLENDER</a>
                        </div>
                    </div>
                    <div class="shop">
                        <span class=""><a href="#">ADD TO BAG</a></span>
                        <a href="#" class="price">$‌44.00</a>
                    </div>
                </div>

                <div class="container">
                    <div class="box">
                        <div class img-slide>
                            <img src="../imgs/rarebeauty concealer.jpg" class="hide" width="350"><img
                                src="../imgs/rare beauty concealer shades.jpg" width="350">
                        </div>

                    </div>
                    <div class="detail">
                        <div class="type">
                            <span>SALE</span>
                            <a href="#">RARE BEAUTY FLAWLESS FOUNDATION BRUSH+BEAUTY BLENDER</a>
                        </div>
                    </div>
                    <div class="shop">
                        <span class=""><a href="#">ADD TO BAG</a></span>
                        <a href="#" class="price">$‌44.00</a>
                    </div>
                </div>
           
            </div>
        </div>
        <script src="../javascript/SliderScript.js"></script>

    </section>

    <!-- product description/shop onclick section -->
    <section>
        <div class="boxes">
            <div class="description">
                <div class="productbox">

                    <img src="../imgs/rare beauty concealer shades.jpg" alt="rare concealer" width="30%">
                    <div class="textalign">
                        <h3>Rare foundation new realeases </h3>
                        <br>
                        <h4>Leaves your skin looking flawless and rare</h4>
                        <br>
                        <button class="shopbtn"><a href="#">SHOP FOUNDATION</a></button>

                    </div>
                </div>

            </div>


            <div class="description">
                <div class="productbox">
                    <img src="../imgs/fenty mascara.jpg" alt="fenty mascara" width="30%">
                    <div class="textalign">
                        <h3>Full frontal volume mascara</h3>
                        <br>
                        <h4>Black mascara leaving your eyelashes long and luscious </h4>
                        <br>
                        <button class="shopbtn"><a href="#">SHOP MASCARA</a></button>

                    </div>
                </div>
            </div>
        </div>

        <div class="boxes">
            <div class="description">
                <div class="productbox">
                    <img src="../imgs/rare beauty eyeshadow.jpg" alt="rare eyeshadow">
                    <div class="textalign">
                        <h3>Rare beauty eyeshadow</h3>
                        <br>
                        <h4>Bold and shimmery eye shadows for your glam nights</h4>
                        <br>
                        <button class="shopbtn"><a href="#">SHOP EYESHADOW</a></button>

                    </div>
                </div>
            </div>

            <div class="description">
                <div class="productbox">
                    <img src="../imgs/rare beauty highlighter.jpg" alt="rare beauty highlighter">
                </div>
                <div class="textalign">
                    <h3>Rare beauty highlighters</h3>
                    <br>
                    <h4>Gives a nice natural shine to your face</h4>
                    <br>
                    <button class="shopbtn"><a href="#">SHOP HIGHLIGHTER</a></button>

                </div>
            </div>
        </div>

    </section>

    <!-- rare beauty highlighter ad section   -->

    <section>
        <div class="parent">
            <div>
                <img src="../imgs/selena gomez highlight.jpg" width="550px" height=615px>
            </div>
            <div>
                <img src="../imgs/rarehighlighterset1.jpg" width="535" height=615px>
            </div>
            <div class="highlighterdescription">
                <div class="productbox">
                    <div class="textalign">
                        <h1>Rare beauty highlighters</h1>
                        <br>
                        <h4>GLOWING ON THE INSIDE & OUT</h4>
                        <br>
                        <button class="shopbtn"><a href="../html/allface.html">OWN IT!</a></button>

                    </div>
                </div>
               
            </div>
            </div>
            <div>
                <%- include('./partials/footer.ejs') %>
            </div>

            
    </section>

  


</body>

</html>