<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard | Users</title>
  <link rel="stylesheet" href="../css/admindashboard.css">
  <link rel="stylesheet" href="../css/users.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%-include('./partials/admindesign.ejs') %>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div><i id="menu-btn" class="fa fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="profile">
                <i class="fa fa-bell"></i>
                <a href="/adminlogin"> <i class="fa fa-user-circle"></i></a>
            </div>
        </div>
       
   
  <!-- User List -->
  <ul id="userList"></ul>
  
  <!-- Add User Form -->
  <br>
<div id="addu">
  <h2>Add Admin</h2>
</div>
<br>
<form action="/users" method="post">
  <div id="userpass">
  <div >
      <label for="username"> username </label>
      <input id="username" name="Firstname" type="text" placeholder="username"><br>
      <span id="Uerror"></span>
  </div>
  <br>
  <div >
      <label for="password"> password </label>
      <input id="password" name="Password" type="password" placeholder="password"> <br>
      <span id="Perror"></span>
  </div>
  <button class="Adbutton" type="submit" id="submit">Add User</button>
  
</div>
</form>
  <script src="adduser.js"></script>
 </section>
</body>
</html>
