@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    width:100%;
    background-image:url(backgroundAccount.webp);
    position: relative;
    display: flex;
}

#menu{
    background: rgb(240, 229, 229);
    width:300px;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
}
#menu .logo {
    background: white;
    opacity: 80%;
    display:flex ;
    align-items: center;
    padding: 30px 0 30px 3px ;
    text-align: center;
    
}

#menu .items{
    margin-top:40px ;
}

#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}
#menu .items li i{
    color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size:14px ;
    margin: 0 10px 0 25px;
}
#menu .items li:hover{
    background-color: #ffffff;
    cursor: pointer;
}

#menu .items li  a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}
#menu .items li  a:hover{
    text-decoration: underline;
    
}

#interface{
 width: 80%;
 margin-left: 300px;
 position: relative;
}
#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 100%;
    padding: 15px 30px;
    border-bottom: 3px solid black;
}
.n1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#menu-btn{
    font-size:20px;
    cursor: pointer;
    margin-right: 20px;
}
#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid;
    border-radius: 4px ;
}
#interface .navigation .search input{
    border:none;
    outline: none;
    font-size: 14px;
}
#interface .navigation .search i{
    margin-right: 14px;

}
#interface .navigation .profile i{
margin-right:20px ;
font-size: 19px;
font-weight:400px;
}
.i-name{
    color: black;
    padding: 30px 30px 0 30px;
    font-size:24px;
    font-weight: 700;
}
.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.values .val-box{
    background-color: white;
    width:235px;
    padding:16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box i{
    font-size: 25px;
    width: 60px;
    height:60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: black;
    margin-right: 15px;
}
.values .val-box:nth-child(1) i{
    background:#FAE5DF;
}
.values .val-box:nth-child(2) i{
    background:#D9E6F3;
}
.values .val-box:nth-child(3) i{
    background:#F9F7E8;
}
.values .val-box:nth-child(4) i{
    background:#C1E7E3;
}
.values .val-box h3{
    font-size:18px;
    font-weight: 600;
}
.values .val-box span{
    font-size: 15px;
    color: rgb(56, 53, 53);
}
.board{
    width: 90%;
    margin:30px 0px 30px 30px;
    overflow: auto;
    background: white;
    border-radius: 8px;
}
.board h5{
    font-weight: 600;
    font-size: 14px;
}
.board p{
    font-weight: 400;
    font-size: 13px;
    color: rgb(56, 53, 53);
}
.board .people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}
table{
    border-collapse: collapse;
}
tr{
 border-bottom: 1px solid rgb(69, 67, 67);
}
thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: rgb(240, 229, 229);
    text-align: start;
    padding: 15px;
}
tbody tr td{
 padding: 10px 15px;
}
.active p{
 background: blanchedalmond;
 padding: 2px 10px;
 display: inline-block;
 border-radius: 14px;
}
.edit a{
    text-decoration: underline;
    font-size: 14px;
    color:black;
}

@media(maxwidth:769px){
    #menu{
        width:270px;
        position: fixed;
        left:-270px;
    }
    #menu-btn{
        display: initial;
    }
    #interface{
        width: 100%;
        margin-left: 0px;
        display: inline-block;
    }
    #interface .navigation{
        width:100%;

    }
    .values{
        padding:30px 30px 0 30px;
        justify-content: flex-start;
    }
    .values .val-box{
        padding:16px 20px;
        margin:10px 20px 10px 0;
    }
    .board{
        width:92%;
        padding: 0;
        overflow-x: auto;
    }
    table{
        width:100%;
        border-collapse: collapse;
    }
}
/* statistics page */
.stats{
    display: flex;
    position: relative;
    padding: 30px 0 0 30px;
    justify-content: space-between;
}
.statvalue{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-around;
    margin: 30px 30px 30px 30px;
    align-items: center;
    flex-wrap: wrap;

}

.statvalue .val-box{
    background-color: white;
    width:300px;
    padding:16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.statvalue .val-box i{
    font-size: 25px;
    width: 60px;
    height:60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: black;
    margin-right: 15px;
}
.statvalue .val-box:nth-child(1) i{
    background:#FAE5DF;
}
.statvalue .val-box:nth-child(2) i{
    background:#D9E6F3;
}