body {
    margin: 20 20px; 
    padding: 10px;
    background-color: #fffffd;
  }
  .h2{
    position: relative;
    top:40px;
    padding-left:20px ;
    font-size: 10px;
    color: rgb(58, 58, 58);
    font-weight:lighter;
    padding-bottom: 50px;
    font-family: 'Space Grotesk', sans-serif;
  }
  .product-grid {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-item {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .box {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 120%; /* Adjust the height ratio as needed */
    overflow: hidden;
  }
  
  .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }
  
  box:hover img {
    opacity: 0.5; /* Adjust the opacity value as desired */
  }
  
  .box:hover .overlay {
    opacity: 0; /* Hide the overlay on hover */
  }
  
  .box:hover .overlay:hover {
    opacity: 1; /* Show the overlay again on overlay hover */
  }
  
  .box:hover .overlay:hover img {
    opacity: 1; /* Show the overlay image on overlay hover */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .box:hover .overlay {
    opacity: 1;
  }
  
  .detail {
    margin-top: 10px;
  }
  
  .product-grid li {
    list-style: none;
  }
  
  .type a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Overpass Mono', monospace;
    font-family: 'Space Grotesk', sans-serif;
    font-size: small;
  }
  
  .name {
    color: rgba(26, 26, 26, 26, 0.5);
    font-size: small;
    font-weight: 500;
    font-family: 'Overpass Mono', monospace;
    font-family: 'Space Grotesk', sans-serif;
    
  }
   a{
    text-decoration: none;
  }
  
  .shop {
    border-style: groove;
    border-collapse: collapse;
    border-width: thin;
    align-content: space-between;
    font-weight: 600;
    font-size: 1.1rem;
    font-size: smaller;
    font-family: poppings;
    color: black;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .shop span,
  .shop a {
    color: black;
  }
  
  .shop span {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .pagination a,
  .pagination span {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .pagination a:hover {
    background-color: #ddd;
  }
  
  .pagination .current-page {
    background-color:rgb(226, 206, 226);
    color: #fff;
  }
  