body{
    margin: 0;
    padding: 0%;
    background-color: #fffffd;
}
.title{
    padding: 30px 20px;
    margin: 20px;
    font-size: 22px;
    letter-spacing: 0.2em;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    font-family: 'Overpass Mono', monospace;
    font-family: 'Space Grotesk', sans-serif;
}
.headerIMG{
    overflow-clip-margin: content-box;
    /*overflow: clip;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: 100%;
    object-fit:inherit;
    display: flexbox;
    padding-top: 30px;
    margin-top: 40px;
}
a{
    text-decoration: none;
}
/*div{
    position: relative;
    display: flex;
}
*/
div .detail{
position:relative ; 
}
.box{
    width: 310px;
    height: 350px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0,0.2);
    border-radius: 0px;
    overflow:hidden;
    position: relative;

   /* left: 50%;
    top: 50%;
    
    transform: translate(-50%,-50%);*/
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease;
    background-color: white;
  }
.img-slide{
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing:content-box;
  
}
.detail{
    width: 310px;
    height: fit-content;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(252, 252, 252);
}
.type{
    display: flex;
    flex-direction: column;
}
.type a{
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Overpass Mono', monospace;
    font-family: 'Space Grotesk', sans-serif;
    font-size: small;

}
.type span{
    color: rgba(26,26,26,26,0.5);
    font-size: small;
    font-weight: 500;
    font-family: 'Overpass Mono', monospace;
    font-family: 'Space Grotesk', sans-serif;
}
.shop{
    border-style:groove;
    border-collapse: collapse;
    border-width: thin;
    align-content:space-between;
    font-weight: 600;
    font-size: 1.1rem;
    font-size: smaller;
    font-family:poppings;
    color:black;
    letter-spacing: 0.5px;
    display: block;
    padding: 10px;
}
.shop span,a{
    color:black;
}
.price{
    text-align: right;
    display: inline;
    float: right;
}
.item-a{
    display: inline;
    float: left;
    border: 4px;
    border-style:solid;
    border-color: transparent;
    
}
.box:hover .overlay {
    opacity: 1;
  }
ul{
    
    display:block;
}
.checked {
    color: black;
  }
.unchecked {
    color: rgb(158, 156, 156);
}
.stars{
    width: 310px;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-left:  20px;
    padding-bottom: 7px;
    box-sizing: border-box;
    background-color: rgb(252, 252, 252);
}