body{
font-family: 'Roboto', sans-serif;
  background-image: url(../imgs/ezgif.com-webp-to-jpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.err{
    font-size: x-large;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  
}
.child{
  display:inline-block;
  width: max-content;

}
.img{
  width: 100px;

}
