@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    width:100%;
    background-image:url(backgroundAccount.webp);
    position: relative;
    display: flex;
}

.productcontrolbtn{
    background-color:rgb(240, 229, 229);
    padding: 10px;
    margin: 20px;
}
 #newproductdetails{
    background-color: rgb(238, 223, 223,50%); 
    width: 50%;
    padding: 20px;
    margin-left: 20px;
   
}
.hidden{
    display: none;
}
#addbtn{
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 40%;
    padding: 9px;
    left: 50%;
}