<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lip balm</title>
    <Link rel ="stylesheet" href="../css/projectf.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova&family=Nanum+Gothic&family=Roboto&family=Simonetta:ital@1&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <img src="../imgs/FS323498_Plush_Puddin_112922_LAUNCH_CATEGORY_BANNER_DESKTOP.webp"style="width:100%" >
    </header>
    <br>
    <br>
    <h1>LIP BALM + TREATMENT </h1>

    <h2>6 items</h2>
    <div class="card">
        <div class="container">
            <a href="../imgs/l.html"> <img src="1.webp" alt="lip balm" style="width:100%"></a>
            <div class="overlay">
                <img src="../imgs/2.webp" class="image" title="shade">
                <i class='far fa-heart' style='font-size:24px'></i>

                </a>

            </div>

        </div>
        <div>
            <h1>PRO KISS'R SCRUBSTICK</h1>

            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>


        </div>
        <div>
            <p><button>ADD TO BAG &nbsp &nbsp &nbsp &nbsp EGP655.00</button></p>
        </div>
    </div>


    <div class="card">
        <div class="container">
            <img src="../imgs/5.jpg" alt="lip balm" style="width:100%">
            <div class="overlay">
                <img src="../imgs/6.jpg" class="image" title="shade">

                </a>
            </div>
        </div>

        <h1>PEPTIDE LIP TREATMENT</h1>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>

        <p><button>ADD TO BAG &nbsp &nbsp &nbsp &nbsp EGP950.00</button></p>

    </div>

    <div class="card">
        <div class="container">
            <img src="../imgs/0.webp" alt="lip balm" style="width:100%"></a>
            <div class="overlay">
                <img src="../imgs/67.jpg" class="image" title="shade">

                </a>
            </div>

        </div>
        <div>
            <h1>PRO KISS'R LIP BALM</h1>

            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>


        </div>
        <div>
            <p><button>ADD TO BAG &nbsp &nbsp &nbsp &nbsp EGP890.00</button></p>
        </div>
    </div>


    <div class="card">
        <div class="container">
            <img src="../imgs/15.webp" alt="lip balm" style="width:100%"></a>
            <div class="overlay">
                <img src="../imgs/16.webp" class="image" title="shade">

                </a>
            </div>

        </div>
        <div>
            <h1>Lip BALM MASK</h1>

            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>


        </div>
        <div>
            <p><button>ADD TO BAG &nbsp &nbsp &nbsp &nbsp EGP560.00</button></p>
        </div>
    </div>


    <div class="card">
        <div class="container">
            <img src="bomg.jpg" alt="lip balm" style="width:100%"></a>
            <div class="overlay">
                <img src="c.webp" class="image" title="shade">

                </a>
            </div>

        </div>
        <div>
            <h1>Lip BALM MASK</h1>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>


        </div>
        <div>
            <p><button>ADD TO BAG &nbsp &nbsp &nbsp &nbsp EGP340.00</button></p>
        </div>
    </div>



    <div class="card">
        <div class="container">
            <img src="../imgs/10.jpg" alt="lip balm" style="width:100%"></a>
            <div class="overlay">
                <img src="../imgs/11.webp" class="image" title="shade">

                </a>
            </div>

        </div>
        <div>
            <h1>Lip BALM MASK</h1>

            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>


        </div>


        <div>
            <p><button>ADD TO BAG &nbsp &nbsp &nbsp &nbsp EGP840.00</button></p>
        </div>

</body>

</html>